<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Item Catalog Project</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="page__spacing"></div>
  <div class="container">
    <h4>Add New Movie</h4>
    <form action="#" method = 'post'>
      <div class="page__spacing"></div>
      <fieldset>
        <p>Name:</p>
          <input type ='text' size='30' name='name'>
        <p>Description:</p>
          <input type ='text' size='30' name='description'>
        <p>Category:</p>
        <select name="category">  
          {% for category in categories %}
            <option value="{{category.id}}">{{category.name}}</option>
          {% endfor %}
        </select>
      </fieldset>
      <input type='submit' value='Create'>
      <a href = "{{url_for('showCategories')}}"> Cancel </a>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <p class="flash__message">{{ message }}</p>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </form>
  </div>
</body>
</html>
